@import '@fontsource-variable/geist';
@import 'tailwindcss';
@import '@heroui/styles';

@plugin '@iconify/tailwind4' {
	prefix: 'iconify';
	prefixes: lucide, noto, flag, logos;
	scale: 1.25;
}

@plugin 'fluid-tailwindcss' {
	minViewport: 320;
	maxViewport: 1920;
	useRem: true;
	rootFontSize: 16;
	checkAccessibility: true;
	useContainerQuery: true;
}

@theme inline {
	--font-sans: 'Geist Variable', system-ui;
}

@layer components {
	.button {
		@apply rounded-full;
	}
}

@layer base {
	body {
		@apply text-foreground font-medium antialiased bg-background;
	}
}
